#welcome-index {
  #wrap > .container {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .navbar {
    margin-bottom: 0;
  }

  .container.first {
    height: 580px;
    margin: 0;
    padding: 0;
    padding-top: 50px;
    width: 100%;
    background-image: url("/images/background-top.png");
    background-repeat: repeat-x;
    background-position: bottom;

    .title-group {
      padding: 20px 30px;
      padding-right: 100px;
    }

    .title {
      font-weight: 700;
      line-height: 1.5;
    }

    .subtitle {
      margin-top: 30px;
      font-weight: 300;
      line-height: 1.5;
    }

    .button-group {
      width: 400px;
      height: 280px;
      border-radius: 1px;
      background-color: rgba(255, 255, 255, 0.3);
      box-shadow: 0 4.5px 8px 0 rgba(28, 37, 104, 0.3);
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      padding: 30px;

      .btn {
        width: 270px;
        height: 60px;
        line-height: 60px;
        font-size: 24px;
        padding: 0;
      }
    }
  }

  .container.second {

    .shadow {
      box-shadow: -60px 0px 100px -90px #000000,
        60px 0px 100px -90px #000000;
    }

    .chart {
      width: 100%;
      max-width: 1200px;
      height: 1000px;
      padding: 18px;
      border-radius: 1px;
      box-shadow: 0 9px 16px 0 rgba(28, 37, 104, 0.3);

      .left {
        .subtitle {
          font-family: SpoqaHanSans;
          font-size: 18px;
          font-weight: bold;
          color: #24356e;
          padding-bottom: 12px;
        }

        .top-padd {
          padding-top: 32px
        }

        .little-padd {
          padding-top: 12px
        }

        .instant {
          height: 100px;
          padding-right: 9px;



          .price-box {
            position: relative;
            height: 100px;
            border: solid 1px #e1e2ea;

            .temp-green {
              color: #36d495;
            }

            .temp-red {
              color: #e84855;
            }

            .title-region {
              width: max;
              height: 36px;
              line-height: 36px;
              background-color: #f7f8fb;

              .title-label {
                padding: 0 14px;
                font-size: 14px;
                text-align: left;
              }
            }

            .price-region {
              margin-top: 10px;
              height: 24px;
              line-height: 24px;
              text-align: center;
              .price {
                font-size: 24px;
                font-weight: bold;
                .unit {
                  float: right;
                  margin-right: 14px;
                  font-weight: normal;
                  font-size: 12px;
                  line-height: 34px;
                  color: #bbbfde;
                }
              }
            }
            .desc {
              position: absolute;
              right: 14px;
              bottom: 7px;
              font-size: 12px;
              color: #9698a5;
            }

          }
        }

        #candlestick {
          height: 751px;
          border: solid 1px #e1e2ea;
        }

        .volume {
          height: 220px;
          border: solid 1px #e1e2ea;
        }
      }

      .right {
        max-height: 918px;

        .table-size {
          width: 380px;
          height: 395px;
          border: solid 1px #e1e2ea;
        }

        .subtitle {
          width: 154px;
          height: 27px;
          font-family: SpoqaHanSans;
          font-size: 18px;
          font-weight: bold;
          text-align: left;
          color: #24356e;
        }

        .header-label {
          font-family: SpoqaHanSans;
          font-size: 14px;
          font-weight: bold;
          text-align: left;
          color: #24356e;
        }

        .krw-bold {
          font-weight: bold;
        }

        .mid-align {
          text-align: center;
        }

        .right-align {
          text-align: right;
        }

        .green-label {
          font-size: 12px;
          color: #36d495;
        }

        .red-label {
          font-size: 12px;
          color: #e84855;
        }

        .fixed-table1-height {
          min-height: 395px !important;
        }

        .recent {
          height: 50%;
        }
      }






    }
  }

  .container.third {
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
    .logo-big {
      height: 40px;
    }
    .subtitle {
      font-size: 20px;
      margin-top: 30px;
      color: #9698a5;
      letter-spacing: 1.7px;
      font-weight: 300;
    }

    .row.features {
      padding: 50px 20px;
      text-align: left;

      .feature {
        padding: 0 50px;
        height: 300px;
        border-right: 1px solid #e1e2ea;
      }

      .feature:last-child {
        border-right: none;
      }

      .icon {
        height: 100px;
      }

      .title {
        font-size: 24px;
        font-weight: 700;
        margin: 20px 0;
      }

      .description {
        font-size: 16px;
        letter-spacing: 0.7px;
        color: #9698a5;
        margin-top: 0;
        font-weight: 300;
        line-height: 1.5;
      }
    }
  }

  .container.forth {
    padding: 80px 0 0 0;
    width: 100%;
    overflow-x: hidden;
    background-color: #f7f8fb;
    background-image: url("/images/coin-background.png");
    background-repeat: no-repeat;
    background-position: right bottom;

    .left {
      padding-top: 30px;
      h1 {
        font-size: 40px;
        line-height: 1.5;
      }

      .btn-signup {
        margin-top: 50px;
        width: 270px;
        font-size: 24px;
        height: 70px;
        line-height: 70px;
        padding: 0;
        font-weight: 300;
      }
    }
  }

  footer {
    background-color: #f7f8fb !important;
  }

  .panel-body {
    padding: 0;
    table {
      margin: 0;
    }
  }

  .text-up {
    color: #36d495;
  }

  .text-down {
    color: #e84855;
  }

  #range_switch {
    display: none;
  }
  #indicator_switch_wrapper {
    display: none;
  }
}
